<h1>Detalles del Producto</h1>
<h2>{{product.name}}</h2>
<p>{{product.description}}</p>
<p>Precio: ${{product.price}}</p>
<p>Categoría: {{product.category}}</p>

<form action="/api/carts/1/product/{{product._id}}" method="POST">
  <button type="submit">Agregar al carrito</button>
</form>
