<h1>Lista de Productos</h1>

{{#each products}}
  <div class="product">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <p>Precio: ${{this.price}}</p>
    <a href="/products/{{this._id}}">Ver m치s</a>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
  </div>
{{/each}}

<div class="pagination">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">P치gina Anterior</a>
  {{/if}}
  <span>P치gina {{page}} de {{totalPages}}</span>
  {{#if hasNextPage}}
    <a href="{{nextLink}}">P치gina Siguiente</a>
  {{/if}}
</div>

<script>
  function addToCart(productId) {
    fetch(`/api/carts/1/product/${productId}`, {
      method: 'POST'
    }).then(response => response.json()).then(data => {
      console.log('Producto agregado al carrito', data);
    });
  }
</script>
